.form__heading {
    margin: 0;
    padding: 12px;
    background-color: white;
    border: 1px solid grey;
    font-size: 20px;
}

.form__container {
    border: 1px solid grey;
    padding: 12px;
    margin: 3px 0;
    display: flex;
    gap: 4px;
    background-color: white;
}

.form__input {
    flex-grow: 3;
    padding: 8px;
}

.form__button {
    flex-grow: 1;
    background-color: #008080;
    color: white;
}