.form__heading {
    margin: 0;
    padding: 12px;
    background-color: white;
    /* border: 1px solid grey; */
    font-size: 20px;
    box-shadow: 0px 0px 5px 3px #F2F2F2;
}

.form__container {
    padding: 12px;
    margin: 3px 0;
    display: flex;
    gap: 4px;
    background-color: white;
    box-shadow: 0px 0px 5px 3px #F2F2F2;
}

.form__input {
    flex-grow: 3;
    padding: 8px;
    border: 2px solid #c5c5c5;
}

.form__input:focus {
    outline-color: #FF8749;
}

.form__button {
    flex-grow: 1;
    background-color: #FF8749;
    border: none;
    color: white;
    font-weight: bold;
}

.form__button:hover {
    background-color: #ff7029;
}

.form__button:focus {
    outline: none;
    background-color: rgb(255, 112, 41);
}