.taskList {
    margin: 12px 0;
}

.taskList__heading {
    margin: 0;
    padding: 14px;
    font-size: 20px;
    background-color: white;
    box-shadow: 0px 0px 3px 3px #F2F2F2;
}

.taskList__list {
    margin: 3px 0;
    padding: 20px 14px;
    list-style-type: none;
    background-color: white;
    box-shadow: 0px 0px 3px 3px #F2F2F2;
}

.taskList__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c5c5c5;
    padding: 10px 12px;
}

.taskList__content {
    flex-grow: 1;
    padding: 5px 10px;
}

.taskList__content--done {
    text-decoration: line-through;
}

.taskList__button {
    width: 30px;
    height: 30px;
    background-color: green;
    border: none;
    color: white;
    font-size: 14px;
}

.taskList__button:hover {
    background-color: #00b300;
    cursor: pointer;
}

.taskList__button:focus {
    outline: none;
    background-color: #00b300;
}

.taskList__button--remove {
    color: transparent;
    text-shadow: 0 0 0 white;
    background-color: red;
    font-size: 10px;
}

.taskList__button--remove:hover {
    background-color: #ff8080;
}

.taskList__button--remove:focus {
    background-color: #ff8080;
}
