.taskList {
    margin: 12px 0;
}

.taskList__heading {
    border: 1px solid grey;
    margin: 0;
    padding: 10px;
}

.taskList__list {
    margin: 6px 0;
    padding: 20px 10px;
    list-style-type: none;
    border: 1px solid black;
}

.taskList__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 10px 10px;
}

.taskList__content {
    flex-grow: 1;
    padding: 5px 10px;
}

.taskList__button {
    flex-basis: 38px;
    height: 38px;
    background-color: transparent;
    flex-shrink: 0;
}

.taskList__button--done {
    background-color: #b4dfd3;
}

.taskList__button--remove {
    border: none;
}
