.taskList {
    margin: 12px 0;
}

.taskList__heading {
    margin: 0;
    padding: 12px;
    font-size: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px 3px #F2F2F2;
}

.taskList__list {
    margin: 3px 0;
    padding: 20px 10px;
    list-style-type: none;
    background-color: white;
    box-shadow: 0px 0px 5px 3px #F2F2F2;
}

.taskList__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c5c5c5;
    padding: 10px 12px;
}

.taskList__content {
    flex-grow: 1;
    padding: 5px 10px;
}

.taskList__button {
    flex-basis: 38px;
    height: 38px;
    background-color: transparent;
    flex-shrink: 0;
    border: none;
}

.taskList__button--done {
    border: 2px solid #4EBE59;
}

.taskList__button--done:hover {
    background-color: #d5ffda;
}

.taskList__button--done:focus {
    outline: none;
    background-color: #d5ffda;
}

.taskList__button--remove:hover {
    background-color: rgb(255, 206, 206);
}

.taskList__button--remove:focus {
    outline: none;
    background-color: rgb(255, 206, 206);
}
